.tt-tabs 
  margin-bottom: 30px

.index-tabs 
  display: flex
  height: 30px
  justify-content: center
  align-items: center

.index-tabs span 
  cursor: pointer
  padding: 0 20px
  margin-right: 15px
  border: 1px solid #ebebeb
  height: 32px
  line-height: 32px
  border-radius: 3px
  color: #dadada
  font-size: 14px
  font-weight: 300
  transition: 0.2s

.index-tabs span.tab2 
  // color: #d0d0d0

.index-tabs span:hover 
  color: #fff
  background-color: #998675

.index-tabs2 span 
  width: 50%

.tt-panel 
  display: none
  padding-top: 25px

.active-ttab 
  color: #fff !important
  background-color: #998675

