mixin tabs()
  .tt-tabs
    .index-tabs
      span.tab1.active-ttab All
      span.tab2 Web Design
      span.tab3 Mobile App
    .index-panel
      .tt-panel.tab1 Content 1
      .tt-panel.tab2 Content 2
      .tt-panel.tab3 Content 3
      
  