.hero
  padding 50px 0

.container
  cont()

.col
  col(3)
  background-color #eee
  margin-bottom gutter
  height 100px
  flex-center()

.topbar
  background-color: #eee
  height: rem(50)
  line-height rem(50)
  position: fixed
  width: 100%
  z-index: 1000
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

.logo
  font-size: 20px
  font-weight: 700

.section-link
  height: 300px
  padding-top: 50px
