mixin header()
	+b.HEADER.header

		+b.DIV.topbar
			+b.DIV.container
				+b.DIV.topbar-wrap
					+b.DIV.logo Logo
					+h-menu

						
						

		+b.DIV.hero Hero 
		+search
		+tabs
		+icon('puzzle')
		+icon('pin')





		//-Список
		- var list = ["One", "Two", "Three", "Four"]
		ul.menu
			each test in list
				li.menu__item
					a.menu__link(href="javascript:void(0);")= test

