select
  width: 200px
  height: 30px
  line-height: 30px
  border: 1px solid #ddd
  padding: 0 10px
  outline: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

option
  padding: 5px